@charset "utf-8";
* {font-family: 'Roboto', sans-serif; }
body[data-dark=true] {
    background: none;
    background-color: #121212;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
    background: #c97189;
    border-radius: 5px;
}
.header[data-dark=true] {
    background-color: #121212;
}
.header {
    top: 0;
    z-index: 0;
    background-color: #fff;
}
.header .nav ul li a {
    color: #3b3b3b;
    font-weight: 500;
}
.header .nav ul li::after {
    background-color: #3b3b3b;
}

.m-btn .line {
    background-color: #3b3b3b;
}
.m-nav {
    background-color: rgba(255,255,255,0.3);
}
.m-nav ul li a {
    color: #3b3b3b;
}
.m-nav ul li::after {
    background-color: #3b3b3b;
}
.works {
    width: 100%;
    padding-top: 240px;
}
.works-wrap {
    max-width: 1600px;
    margin: 0 auto;
}
.works-wrap .list {
    display: flex;
    flex-wrap: wrap;
}
.works-wrap .list li {
    flex-basis: 25%;
    position: relative;
    transition: 0.6s;
}
.works-wrap .list li .work-item {
    transition: 0.6s;
    width: 100%;
    overflow: hidden;
    font-size: 0;
}
/* .works-wrap .list li:nth-child(1) .work-item::after{
    content: "";
    background: url("../images/t-logo.png") no-repeat center center;
} */
.works-wrap .list li .work-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
    cursor: pointer;
    transition: 0.6s;
}
.works-wrap .list li:hover .work-item::after {
    opacity: 1;
}
.works-wrap .list li p {
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 18px;
    color: #fff;
    padding-left: 30px;
    transition: .6s all;
    z-index: 2;
}
.works-wrap .list li p::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.works-wrap .list li:hover p {
    margin-bottom: 114%;
    font-size: 22px;
}
.works-wrap .list li img {
    width: 100%;
    transition: .6s;
} 
.works-wrap .list li:hover img {
    transform: scale(1.15);
}
.dark-btn {
    width: 152px;
}
@media screen and (max-width:1600px) {
    .works-wrap {
        padding: 0 20px;
    }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
    .header {
        z-index: 9;
    }
    .works {
        padding: 0 20px;
        margin-top: 200px;
    }
    .works-wrap .list li {
        flex-basis: 50%;
    }
    .window-content {
        width: 100% !important;
    }
    
}   
@media screen and (max-width: 640px) {
    .header {
        z-index: 9;
    }
    .works {
        padding: 0 20px;
        margin-top: 150px;
    }
    .works-wrap .list li {
        flex-basis: 100%;
        margin-bottom: 16px;
    }
    .window-content {
        width: 100% !important;
    }
}